[submodule "RiverCare-Frontend"]
	path = frontend
	url = git@github.com:AwespireTech/RiverCare-Frontend.git
	branch = main
[submodule "RiverCare-Backend"]
	path = backend
	url = git@github.com:AwespireTech/RiverCare-Backend.git
	branch = main
[submodule "RiverCare-SmartContracts"]
	path = smart-contracts
	url = git@github.com:AwespireTech/RiverCare-SmartContracts.git
	branch = main
[submodule "storyteller"]
	path = storyteller
	url = git@github.com:AwespireTech/river-storyteller.git
	branch = main
[submodule "indexer"]
	path = indexer
	url = git@github.com:AwespireTech/RiverCare-Indexer.git
	branch = main
